.button {
  border: 1px solid transparent;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  padding: 11px 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  line-height: 19px;
  color: $white;
  text-transform: capitalize;
  cursor: pointer;
  &-black {
    background-color: $black;
    &:hover {
      background-color: transparent;
      transition: all 0.5s ease;
      color: $black;
    }
  }
  &-peach {
    background-color: $peach;
    &:hover {
      background-color: transparent;
      transition: all 0.5s ease;
      color: $peach;
    }
  }
}
