*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
}

.absolute-svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 700.98px) {
  .absolute-svg svg {
    width: 164px;
    height: 161px;
  }
}

@media (min-width: 701px) and (max-width: 1399.98px) {
  .absolute-svg svg {
    width: 284px;
    height: 281px;
  }
}

@media (min-width: 1400px) {
  .absolute-svg svg {
    width: 284px;
    height: 281px;
  }
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 33px;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.button {
  border: 1px solid transparent;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  padding: 11px 25px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  line-height: 19px;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
}

.button-black {
  background-color: #292f36;
}

.button-black:hover {
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #292f36;
}

.button-peach {
  background-color: #ff6b6b;
}

.button-peach:hover {
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ff6b6b;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.home-image {
  border: 1px solid transparent;
  border-radius: 50%;
}

@media (max-width: 700.98px) {
  .home-image {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 701px) and (max-width: 1399.98px) {
  .home-image {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 1400px) {
  .home-image {
    height: 100px;
    width: 100px;
  }
}

.home-image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid transparent;
  border-radius: 50%;
}

.home-heading {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 41px;
  color: #000;
  text-align: center;
}

@media (max-width: 700.98px) {
  .home-heading {
    font-size: 1.5rem;
  }
}

@media (min-width: 701px) and (max-width: 1399.98px) {
  .home-heading {
    font-size: 1.875rem;
  }
}

@media (min-width: 1400px) {
  .home-heading {
    font-size: 1.875rem;
  }
}

.home-text {
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #000;
  font-size: 1rem;
}

.home-text::-moz-selection {
  color: #ffffff;
  background-color: #292f36;
}

.home-text::selection {
  color: #ffffff;
  background-color: #292f36;
}

.home-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700.98px) {
  .home-box {
    max-width: 300px;
    height: 80vh;
  }
}

@media (min-width: 701px) and (max-width: 1399.98px) {
  .home-box {
    max-width: 500px;
    height: 70vh;
  }
}

@media (min-width: 1400px) {
  .home-box {
    max-width: 500px;
    height: 70vh;
  }
}

.home-box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media (max-width: 700.98px) {
  .home-box-inner {
    height: 400px;
  }
}

@media (min-width: 701px) and (max-width: 1399.98px) {
  .home-box-inner {
    height: 370px;
  }
}

@media (min-width: 1400px) {
  .home-box-inner {
    height: 370px;
  }
}

.home-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #292f36;
  position: relative;
}

.works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700.98px) {
  .works-container {
    height: 80vh;
  }
}

@media (min-width: 701px) and (max-width: 800.98px) {
  .works-container {
    height: 70vh;
  }
}

@media (min-width: 801px) and (max-width: 1399.98px) {
  .works-container {
    height: 70vh;
  }
}

@media (min-width: 1400px) {
  .works-container {
    height: 70vh;
  }
}

.works-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1400px) {
  .works-box {
    width: 85%;
  }
}

.works-box-heading {
  line-height: 33px;
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.works-box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 700.98px) {
  .works-box-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 350px;
  }
}

@media (min-width: 701px) and (max-width: 800.98px) {
  .works-box-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 600px;
  }
}

@media (min-width: 801px) and (max-width: 1399.98px) {
  .works-box-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 850px;
  }
}

@media (min-width: 1400px) {
  .works-box-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1100px;
  }
}

.works-box-inner-box {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 14px 20px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

@media (max-width: 700.98px) {
  .works-box-inner-box {
    height: 100px;
    width: 280px;
  }
}

@media (min-width: 701px) and (max-width: 800.98px) {
  .works-box-inner-box {
    width: 180px;
    height: 169px;
  }
}

@media (min-width: 801px) and (max-width: 1399.98px) {
  .works-box-inner-box {
    width: 260px;
    height: 169px;
  }
}

@media (min-width: 1400px) {
  .works-box-inner-box {
    width: 344px;
    height: 169px;
  }
}

.works-box-inner-box:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.absolute-box-svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
